:root{

    --border-rad: 1vw;
}

.map{

    width: 60vw;
    height: 40vw;
    margin: auto;
    padding-left: 2vw;
    padding-right: 2vw;

    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56vw;
    background-color: black;

    border-radius: var(--border-rad) 0 0 var(--border-rad);
}

.hidden{

    display: none;
}

body{

    font-family: Avenir, sans-serif;
}

#select{

    background-color: black;
    color: white;
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
}

#select option{

    background-color: red;
}

*:focus{

    outline: none;
}

#box{

    width: 20vw;

    display: flex;
    flex-direction: column;
    margin: none;
}

#textbox{
    background-color: #D0D0D0;
    flex: 3;
    margin: none;
    padding: 2vw;
    border-radius: 0 var(--border-rad) 0 0;

}

#yearbox{

    background-color: #909090;
    width: 20vw;
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    border-radius: 0 0 var(--border-rad) 0;

    flex: 1;
}

#year{

    font-size: 2vw;
    background-color: #D0D0D0;
    width: fit-content;
    margin: auto;
    padding: 0.5vw;
    border-radius: var(--border-rad);
}

#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 0.8vw; /* Specified height */
    border-radius: 0.5vw;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    margin: auto;
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-bottom: 2vw;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5vw; /* Set a specific slider handle width */
    height: 1.5vw; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 1.5vw;

    transition: 0.2s ease;
}

#slider::-webkit-slider-thumb:hover{

    background: #9D1C00;
}
  
#slider::-moz-range-thumb {
    width: 1.5vw; /* Set a specific slider handle width */
    height: 1.5vw; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 1.5vw;

    transition: 0.2s ease;
}

#slider::-moz-range-thumb:hover{

    background: #9D1C00;
}

#title{

    font-size: 2vw;
}

#dates{

    font-size: 1vw;
}

#info{

    font-size: 1vw;
}

.main{

    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.maintitle{

    background-color: black;
    color: white;
    width: fit-content;
    padding: 1vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2vw;
    font-family: 'IM Fell French Canon SC', serif;
    border-radius: var(--border-rad);
}

.red{
    fill: red;
}
.red:hover{
    fill: #9D1C00;
}

.yellow{
    fill: #ffce00;
}
.yellow:hover{
    fill: #B38F00;
}

.green{
    fill: #53DC00;
}
.green:hover{
    fill: #008708;
}

.blue{
    fill: #0087FF;
}
.blue:hover{
    fill: #0057DD;
}

.orange{
    fill: #FF8B00;
}
.orange:hover{

    fill: #AB3E00;
}

.pink{

    fill: #FF3AD8;
}
.pink:hover{

    fill: #A40083;
}


